on:
  push:
    branches:
      - main

name: release-please

# cf. https://github.com/mamba-org/provision-with-micromamba#important
defaults:
  run:
    shell: bash -l {0}

jobs:
  release-please:
    if: github.repository_owner == 'bihealth'
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      upload_url: ${{ steps.release.outputs.upload_url }}
      tag_name: ${{ steps.release.outputs.tag_name }}
      major: ${{ steps.release.outputs.major }}
      minor: ${{ steps.release.outputs.minor }}
      patch: ${{ steps.release.outputs.patch }}
    steps:
      - uses: GoogleCloudPlatform/release-please-action@v3
        id: release
        with:
          release-type: simple

  Build-Release-Assets:
    if: github.repository_owner == 'bihealth'
    needs: release-please
    strategy:
      matrix:
        genome_release:
          - grch37
          - grch38
        mehari_version:
          - "0.5.0"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        if: ${{ needs.release-please.outputs.release_created }}

      - name: Get current date
        if: ${{ needs.release-please.outputs.release_created }}
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"

      - name: Cache data directory
        if: ${{ needs.release-please.outputs.release_created }}
        id: cache-primes
        uses: actions/cache@v3
        with:
          path: mehari-data-tx
          key: ${{ steps.date.outputs.date }}-${{ matrix.mehari_version }}-${{ matrix.genome_release }}-${{ hashFiles('src/download.sh') }}

      - name: Install Conda environment
        if: ${{ needs.release-please.outputs.release_created }}
        uses: mamba-org/provision-with-micromamba@main
        with:
          environment-file: false
          environment-name: mehari-data-tx
          channels: conda-forge,bioconda,defaults
          extra-specs: |
            python =3.8
            entrez-direct =16.2
            biocommons.seqrepo =0.6.5
            mehari =${{ matrix.mehari_version }}
            htslib =1.17

      - name: Run the data build
        if: ${{ needs.release-please.outputs.release_created }}
        run: |
          export GENOME_RELEASE=${{ matrix.genome_release }}
          bash src/run.sh

      - name: upload release assets
        if: ${{ needs.release-please.outputs.release_created }}
        id: upload-release-assets
        run: |
          set -x
          dir=/home/runner/mehari-data-tx/pass-2
          src_prefix=$dir/txs.bin
          dst_prefix=$dir/mehari-data-txs-${{ matrix.genome_release }}-${{ needs.release-please.outputs.major }}.${{ needs.release-please.outputs.minor }}.${{ needs.release-please.outputs.patch }}.bin
          for ext in .zst .zst.sha256 .zst.report .zst.report.sha256; do
            mv $src_prefix$ext $dst_prefix$ext
          done
          gh release upload \
            ${{ needs.release-please.outputs.tag_name }} \
            $dst_prefix.zst \
            $dst_prefix.zst.sha256 \
            $dst_prefix.zst.report \
            $dst_prefix.zst.report.sha256
        env:
          # GitHub provides this variable in the CI env. You don't
          # need to add anything to the secrets vault.
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
